/* COLORS
 -------------------------------------------- */
/* Orange hues */
Headings: #FF7400
BF7130
A64B00
FF9640
FFB273

/* Blue hues */
03899C
Nav hover: 1F6B75
Form labels and text: 1F6B75;
015965
36BBCE
Nav item: 5FC0CE
H2: FF7A00
Footer: BABAB2
Gray: E9E9DF

/* Body, container, content
------------------------------------------- */
body {
    width: auto;
    height: auto;
}
.container {
    margin: auto;
    height: auto;
    width: 80%;
    background-color: white;
}
.content {
    margin: auto;
    height: auto;
    width: 100%;
}

/* Left Column
 --------------------------------------------------*/
.leftColumn {
    padding: 0;
    margin-top: 1em;
    margin-left: 10%;
    margin-right: 0;
    float: left;
    width: 65%;
}

/* Right Column
 --------------------------------------------------*/
.rightColumn {
    float: left;
    width: 15%;
    text-align: center;
    margin-left: 5%;
}
/* Project right column
 ------------------------------------------------ */
aside {
    float: left;
    width: 13%;
    margin-top: 8%;
    margin-left: 0;
    padding: 1em 0 1em 0;
    border-left: #BABAB2 1px dashed;
    text-align: center;
}
aside h4 {
    padding: 0 0 .5em 0;
    margin: 0;
}
aside li {
    padding: .8em .5em 0 .5em;
}

/* Header
 -------------------------------------------------- */
header {
    width: 70%;
    background-size: 50%;
}
#introPage {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
    padding: 2em 1em 2em 1em;
    border-top: 1px solid #BABAB2;
    text-align: center;
    background: none;
}
#introPage img {
    width: 100%;
}

/* Footer
 -------------------------------------------------- */
footer {
    margin-top: 7%;
}
footer div {
    float: left;
    margin-left: 0;
    margin-top: -5em;
}

/* Headings
 ----------------------------- */

/* Project Images
 -------------------------------------------- */

.projectGallery {
    margin: 0 auto;
    position: relative;
    width: 90%;
    height: auto;
    padding-top: 2em;
    text-align: center;
}
.projectGallery div {
    padding-top: 1em;
    display: inline-block;
    text-align: center;
    margin: 1em;
}
.projectGallery img {
    display: inline-block;
    width: 17em;
    height: 12em;
    border: 1px solid gray;
    float: center;
}
.projectGallery p {
    padding-top: 0;
    margin: 0 auto;
}
.imageContainer {
    width: 17em;
    height: 12em;
    overflow: hidden;
}

/* Contact form
 --------------------------------------------------- */
#contact {
    width: 50%;
    margin-left: 24%;
}

fieldset {
    border: 1px solid gray;
    margin: 2em 0 .3em 0;
}

input[type="text"], input[type="email"], textarea {
    font-size: 1em;
    width: 90%;
    border: 1px solid gray;
    display: block;
    padding: .3em;
}

/* Standards page layout
 ------------------------------------ */
.leftList {
    padding-top: 1em;
    width: 30%;
    font-family: Georgia, serif;
    color: #B18011;
    margin: 1em 0 1em 2em;
    font-size: 1em;
    float: left;
}
.leftList li {
    padding: .3em 0 .5em 0;
    margin-left: 1em;
    list-style: square;
    list-style-type: square;
}

.middleColumn {
    padding-top: 1em;
    float: left;
    width: 55%;
}
#institutionLogoStrip {
    padding-top: 1em;
    width: 5%;
    float: left;
}
#institutionLogoStrip img {
    width: 4em;
}

/* Image hover effect */
/*
.bwEffect img:hover {
    cursor: pointer;
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);
    filter: grayscale(1);
} */
/*-----Hover Paragragh Effect-----*/
.bwEffect img {
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}
.bwEffect p {
    position: absolute;
    color: transparent;
    font: 200 30px/187px 'Quicksand', Verdana, Helvetica, Arial, sans-serif;
    background: transparent;
    width: 272px;
    height: 191px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
}
.bwEffect a:hover p {
    color: white;
    background: rgba(0,0,0,0.7);
    z-index: 1;
}
/*-----Hover Scale Effect-----*/
