/* COLORS
 -------------------------------------------- */
/* Orange hues */
Headings: #FF7400
BF7130
A64B00
FF9640
FFB273

/* Blue hues */
03899C
1F6B75
015965
36BBCE
Nav item: #5FC0CE

Footer: #BABAB2
Gray: #E9E9DF


/* Body, container, content
 ------------------------------------------- */
body {
    width: auto;
    height: auto;
     background-image: url("images/HTML5CSS3Logos.svg");
}
.container {

    margin: auto;
    height: auto;
    width: 100%;
    background-color: white;    
}
.content {
    margin: auto;
    height: auto;
    width: 100%;
    border: 1px solid black;
}

/* General setting
-------------------------------------------------- */
a {
    text-decoration: none;
}
p {
    padding: 1em 2em 1em 2em;
    font-family: Georgia, serif;
    letter-spacing: .1em;
    color: gray;
}
    
/* Left Column
--------------------------------------------------*/
.leftColumn {
    padding-top: 2%;
    margin-top: 1em;
    margin-left: 10%;
    float: left;
    width:70%;

}

/* Right Column
--------------------------------------------------*/
.rightColumn {
    float: left;
    width: 15%;
    text-align: center;
}

/* Navigation menu
 --------------------------------------------------- */
#nav {
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    width: 100%;
    font-family: Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: .2em;

}

#nav > ul > li {
    display: inline-block;
    padding: 1em 1em 0 1em;
}

#nav > ul > li > a {
    text-decoration: none;
    color: #5FC0CE;
    display: block;
}
#nav > ul > li > a:hover {
    color: #1F6B75;

}


#nav > ul > li > ul {
    display: none;
}

/* Header
-------------------------------------------------- */
header {
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    padding: 2em 1em 2em 1em; 
    border-bottom: 1px solid #BABAB2;
}
#firstPageHeader {
    margin-top: 20%;

    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;    
    padding: 2em 1em 2em 1em;
    border-top: 1px solid #BABAB2;
    border-bottom: 1px solid #BABAB2;
}


/* Footer
-------------------------------------------------- */
footer {
    bottom: 0;
    width: 80%;
    height: auto;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    text-align: center;
    color: #BABAB2;
    border-top: 1px solid #BABAB2;  
}
footer ul li {
    display: inline-block;
}

/* Headings
 ----------------------------- */
h1, h2, h3, h4 {
    font-family: Verdana, sans-serif;
    color: #FF7A00;
    text-align: center;
    letter-spacing: .2em
    
}
h1 {
    font-size: 2.2em;
}
h2 {
    font-size: 1.5em;
}

#firstPageHeader h1 {
    font-size: 3em;
    
}

/* HTML5 & CSS3 logos */
#html5 {
    height: auto;
    width: 6em;
    position: bottom;
}

/* Project Images
-------------------------------------------- */

.projectGallery {
    margin: 0 auto;
    position: relative;
    width: 90%;
    height: auto;
    text-align: center;
}
.projectGallery div {
    display: inline-block;
    text-align: center;
    margin: 1em;    
}
.projectGallery img {
    display: inline-block;
    width: 18em;
    height: 10em;
    border: 1px solid gray;
    float: center;
}
.projectGallery p {
    padding: 0;
    margin: 0 auto;
}

