/* COLORS
 -------------------------------------------- */
/* Orange hues */
Headings: #FF7400
BF7130
A64B00
FF9640
FFB273

/* Blue hues */
03899C
1F6B75
015965
36BBCE
Nav item: #5FC0CE

Footer:
#BABAB2
Gray: #E9E9DF

/* Body, container, content
------------------------------------------- */
body {
    width: auto;
    height: auto;
}
.container {

    margin: auto;
    height: auto;
    width: 100%;
    background-color: white;
}
.content {
    padding-top: 1em;
    margin: auto;
    height: auto;
    width: 100%;
}

/* General setting
 -------------------------------------------------- */
a {
    text-decoration: none;
}
p {
    padding: 1em 2em 1em 2em;
    font-family: Georgia, serif;
    letter-spacing: .1em;
    color: gray;
}

/* Left Column
 --------------------------------------------------*/
.leftColumn {
    padding-top: 2%;
    margin-top: 1em;
    margin-left: 0;
    float: left;
    width: 80%;
}

/* Right Column
 --------------------------------------------------*/
.rightColumn {
    float: left;
    width: 15%;
    text-align: center;
}

/* Navigation menu
 --------------------------------------------------- */
#nav {
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    width: 100%;
    font-family: Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: .2em;
}

#nav > ul > li {
    display: inline-block;
    padding: 1em 1em 0 1em;
}

#nav > ul > li > a {
    text-decoration: none;
    color: #5FC0CE;
    display: block;
}
#nav > ul > li > a:hover {
    color: #1F6B75;
}

#nav > ul > li > ul {
    display: none;
}

/* Header
 -------------------------------------------------- */
header {
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    padding: 2em 1em 2em 1em;
    border-bottom: 1px solid #BABAB2;
}
#firstPageHeader {
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
    padding: 2em 1em 2em 1em;
    border-top: 1px solid #BABAB2;
    border-bottom: 1px solid #BABAB2;
}

/* Footer
 -------------------------------------------------- */
footer {
    width: 90%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    padding-top: .3em;
    text-align: center;
    color: #BABAB2;
    border-top: 1px solid #BABAB2;
    background-image: url(images/HTML5CSS3Logos.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 2em;
    background-size: 5em;
}
footer ul li {
    padding: .8em;
}

/* Headings
 ----------------------------- */
h1, h2, h3, h4 {
    font-family: Verdana, sans-serif;
    color: #FF8A00;
    text-align: center;
    letter-spacing: .2em
}
h1 {
    font-size: 2.2em;
}
h2 {
    font-size: 1.5em;
    color: #0A67A3;
}

#firstPageHeader h1 {
    font-size: 3em;
}

/* HTML5 & CSS3 logos */
#html5 {
    height: auto;
    width: 6em;
    position: bottom;
}

/* Project Images
 -------------------------------------------- */

.projectGallery {
    padding-top: 1em;
    margin: 0 auto;
    position: relative;
    width: 90%;
    height: auto;
    text-align: center;
}
.projectGallery div {
    display: inline-block;
    text-align: center;
    margin: 1em;
}
.projectGallery img {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    float: center;
}
.projectGallery p {
    padding: 0;
    margin: 0 auto;
}

/* Contact form
 --------------------------------------------------- */
#contact {
    margin: 1em;
}

fieldset {
    border: 1px solid gray;
    margin: 2em 0 .3em 0;
}
legend {
    font-family: Georgia, serif;
    text-align: center;
    color: #1F6B75;
    letter-spacing: .1em;
}
input, textarea, option, select {
    font-family: Verdana;
    color: #1F6B75;
}
label {
    margin-bottom: 2px;
}

input[type="text"], input[type="email"], textarea {
    font-size: 1em;
    width: 98%;
    border: 1px solid gray;
    padding: 4px;
    display: block;
    margin-top: 2px;
}
input[type="radio"] {
    margin: 0 5px 0 0;
}
textarea {
    height: 10em;
    overflow: auto;
    resize: none;
}
#submitButton {
    font-size: 1.1em;
    padding: .5em;
    float: right;
    width: 100%;
    height: 10%;

}